<div class="contenedor-titulo">
  <i class="bi bi-person-badge-fill"></i>
  <span>Registro de Estudiantes</span>
</div>
<div>
  <div class="contenedor-form">
    <div class="container">
      <div class="title">
        <i class="bi bi-backpack3"></i>
        <span>Estudiante</span>
      </div>
      <form action="">
        <div class="form-group">
          <i class="bi bi-person"></i>
          <label for="">Nombres</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <i class="bi bi-person-add"></i>
          <label for="">Apellidos</label>
          <input type="text" class="form-control" placeholder="Apellidos">
        </div>
        <div class="form-group">
          <i class="bi bi-house-door"></i>
          <label for="">Barrio</label>
          <input type="text" class="form-control" placeholder="Barrio">
        </div>
        <div class="form-group">
          <i class="ri-map-pin-line"></i>
          <label for="">Departamento</label>
          <input type="text" class="form-control" placeholder="Departamento">
        </div>
        <div class="form-group">
          <i class='bx bx-donate-blood'></i>
          <label for="">Edad</label>
          <input type="text" class="form-control" placeholder="Edad">
        </div>
        <div class="form-group">
          <i class="bi bi-gender-ambiguous"></i>
          <label for="">Seleccionar Genero</label>
          <div class="radio">
            <label for="">Hombre</label>
            <input type="radio" value="Hombre" name="sexo" checked>
            <label for="">Mujer</label>
            <input type="radio" value="Mujer" name="sexo">
          </div>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="title">
        <span>Tutor</span>
      </div>
      <form action="/secretaria/registro" method="post">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="">Seleccionar Genero</label>
          <div class="radio">
            <label for="">Hombre</label>
            <input type="radio" value="Hombre" name="sexo" checked>
            <label for="">Mujer</label>
            <input type="radio" value="Mujer" name="sexo">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>