<div class="container p-2 border-secondary contenedor-alerta">
  <div class="card border-secondary">
    <div class="card-header color-background">
      <h1 class="text-center text-white">Estudiantes: Nuevo Ingresos</h1>
    </div>
    <div class="card-body">
      <form action="/secretaria/registro" id="form-validation" class="row g-3" method="post">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nombre</label>
          <input name="nombre" type="text" class="form-control border-secondary" id="add-nombre">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Apellidos</label>
          <input name="apellidos" type="text" class="form-control border-secondary" id="add-apellidos">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Direccion</label>
          <input name="direccion" type="text" class="form-control border-secondary" id="add-direccion" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Edad</label>
          <input name="edad" type="number" class="form-control border-secondary" id="add-edad">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Seleccionar Genero</label>
          <select name="sexo" id="inputState" class="form-select border-secondary">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-block">Matricular Estudiante</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/event/addestudiantes.js"></script>