<div class="container p-3 border-secondary contenedor-alerta">
  <div class="card border-secondary">
    <div class="card-header color-background">
      <h1 class="text-center text-white">Matricula Año Lectivo {{anioActual}}</h1>
    </div>
    <div class="card-body">
      <div class="container">
        <button type="button" class="btn btn-primary mx-auto d-block" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Buscar Estudiante</button>
      </div>
      <!-- Form -->
      <form action="" id="form-matricula" class="row g-3 py-3" method="">
        <div class="col-md-6">
          <label for="inputText" class="form-label">Estudiante:</label>
          <input name="name-estudiante" type="text" class="form-control border-secondary" id="name-estudiante"
            placeholder="Nombre del Estudiante" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputText" class="form-label">Tutor:</label>
          <input name="name-tutor" type="text" class="form-control border-secondary" id="name-tutor"
            placeholder="Nombre del Tutor" disabled>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Dirección</label>
          <input name="direccion" type="text" class="form-control border-secondary" id="direccion"
            placeholder="casa 123, barrio" disabled>
        </div>
        <div class="col-md-4">
          <label for="inputSelect" class="form-label">Nivel-Grupo:</label>
          <input name="nivel" type="text" class="form-control border-secondary" id="nivel" disabled>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Nivel/Grado Actual:</label>
          <select class="form-select border-secondary" name="nivel_value" id="nivel-est" disabled>
            <option selected disabled value="">Elegir...</option>
          </select>
          <div class="invalid-tooltip">
            ¡Error!
          </div>
        </div>
        <div class="col-md-4">
          <label for="inputText" class="form-label">Pago:</label>
          <div class="input-group">
            <span class="input-group-text">C$</span>
            <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputText" class="form-label">Secretari@:</label>
          <input name="name-secretaria" type="text" class="form-control border-secondary" id="name_secretaria"
            placeholder="Nombre del Secretari@" value={{user.correo_e}} disabled>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-block">Matricular</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  role="document">
  <div class="modal-dialog modal-fullscreen-lg modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header color-background">
        <h5 class="modal-title text-white" id="exampleModalLabel">Estudiantes Disponibles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container container-fluid">
          <div class="row">
            <div class="col-lg">
              <div class="table-responsive">
                <table class="table table-dark table-striped table-bordered nowrap" id="datatable_estudiante"
                  style="width: 100%;">
                  <thead>
                    <tr>
                      <th class="text-center">Id</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-aceptar" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->