<div class="container p-3 border-secondary contenedor-alerta">
  <div class="card border-secondary">
    <div class="card-header color-background">
      <h1 class="text-center text-white">Matricula Año Lectivo {{anioActual}}</h1>
    </div>
    <div class="card-body">
      <div class="container">
        <button type="button" class="btn btn-primary mx-auto d-block" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Buscar Estudiante</button>
      </div>
      <!-- Form -->
      <div id="form-matricula" class="row g-3 py-3">
        <div class="container w-100 pt-3">
          <div id="mostrar-error"></div>
        </div>
        <div class="col-md-6">
          <label for="inputText" class="form-label">Estudiante:</label>
          <input name="name-estudiante" type="text" class="form-control border-secondary" id="name-estudiante"
            placeholder="Nombre del Estudiante" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputText" class="form-label">Tutor:</label>
          <input name="name-tutor" type="text" class="form-control border-secondary" id="name-tutor"
            placeholder="Nombre del Tutor" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Dirección:</label>
          <input name="direccion" type="text" class="form-control border-secondary" id="direccion"
            placeholder="casa 123, barrio" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputText" class="form-label">Secretari@:</label>
          <input name="name-secretaria" type="text-user" class="form-control border-secondary" id="name-secretaria"
            placeholder="Nombre del Secretari@" value={{user.correo_e}} disabled>
        </div>
        <div class="col-md-4">
          <label for="inputText" class="form-label">Modalidad:</label>
          <input name="modalidad" type="text" class="form-control border-secondary" id="modalidad" placeholder=""
            disabled>
        </div>
        <div class="col-md-4">
          <label for="inputText" class="form-label">Nivel/Grado:</label>
          <input name="nivel_grado" type="text" class="form-control border-secondary" id="nivel-grado" placeholder=""
            disabled>
        </div>
        <div class="col-md-4 position-relative">
          <label for="inputState" class="form-label">Grupos Disponibles:</label>
          <select class="form-select border-secondary" name="grupo" id="grupo" disabled>
            <option selected disabled value="">Elegir...</option>
          </select>
          <div class="invalid-tooltip">
            ¡Error!
          </div>
        </div>
        <div class="col-md-6 py-1">
          <div class="container" id="mostrar-detalles">
          </div>
        </div>
        <div class="col-md-6">
          <div class="container" id="mostrar-pagos"></div>
        </div>
        <div class="text-center py-3">
          <button class="btn btn-success btn-block" id="btn-matricula">Matricular</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  role="document">
  <div class="modal-dialog modal-fullscreen-xl modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header color-background">
        <h5 class="modal-title text-white" id="exampleModalLabel">Estudiantes Activos:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container container-fluid">
          <div class="row">
            <div class="col-xl">
              <div class="table-responsive">
                <table class="table table-dark table-striped table-bordered nowrap" id="datatable_estudiante"
                  style="width: 100%;">
                  <thead>
                    <tr>
                      <th class="text-center">Id</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Estado</th>
                      <th class="text-center">Tutor</th>
                      <th class="text-center">Cedula Tutor</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-aceptar" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" tabindex="-1" id="modal-message" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" style="border-radius: 2px;">
        <div class="modal-content">
            <div class="modal-body border border-secondary" style="background-color: #17171c;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text-center">
                            <i class="fa-solid fa-triangle-exclamation"
                                style="color: rgb(244, 197, 5); font-size: 80px;"></i>
                        </div>
                        <div class="py-3" style="color: white;">
                            <div class="text-center">
                                <h2>¿Estás Seguro?</h2>
                            </div>
                            <div class="text-center">
                                <strong>¿Deseas efectuar la matricula?</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border border-secondary" style="background-color:  #5dade2">
                <button type="button" class="btn btn-danger mx-auto w-30px" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary mx-auto w-30px" data-bs-dismiss="modal" id="btn-aceptar-matricula">Aceptar</button>
            </div>
        </div>
    </div>
</div><!-- modal-message -->