<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Estudiantes Disponibles</h2>
            <div class="table-responsive">
                <table id="datatable_estudiante" class="table w-100 table-striped nowrap">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Tutor</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_estudiante"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>