{{#*inline "styles"}}
  <link rel="stylesheet" href="/css/client/perfilsecret.css">
{{/inline}}

{{#> main}}
  {{{ styles }}}
  <div class="perfil-secret">
    <div class="card-secret">
      <div class="content-secret">
        <div class="bienvenida-secret">Bienvenido</div>
        <div class="nombre-secret">{{ user.correo }}</div>
        <div class="cargo-secret">{{ user.nombre_cargo }}</div>
      </div>
    </div>
  </div>
{{/main}}