<header class="header">
  <a class="titulo">Colegio Cristiano Fuende de Vida</a>
  <nav class="navbar">
    <a href="#">Inicio</a>
    <a href="#">Acerca de</a>
    <a href="#">Servicios</a>
    <a href="#">Contacto</a>
    <a href="#">Inciar Sesion</a>
  </nav>
</header>
<section class="home">
    <div class="home-content">
      <h1>Hi, I'm Angel Garcia</h1>
      <h3>Frontend Developer</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi ullam voluptatem accusamus quibusdam possimus nam, error recusandae maiores a veniam.</p>
    </div>
  </section>
<div class="wave" style="height: 150px; overflow: hidden;" >
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
  </svg>
</div>