@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Hind Madurai", sans-serif;
}

.color-background {
  background-color: #0d2033;
}

.cerrar-sesion {
  color: white;
}

.cerrar-sesion:hover {
  color: aqua;
}

@media screen and (max-width: 435px) {
  .container-fluid .navbar-brand {
    display: none;
  }
}