@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
} 

.header-secretaria {
  background-color: #0a141d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header-secretaria .logo-secretaria .logo-text {
  height: 50px;
  width: auto;
  color: aqua;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.header-secretaria .btn button {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

.header-secretaria .btn button:hover {
  background-color: #007bff;
  color: #fff;
}

.menu-horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu-horizontal > li > a {
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

.menu-horizontal > li:hover {
	background-color: #0a1a2a;
  border-radius: 15px;
}

.menu-vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #0d2033;
  border-radius: 15px;
}

.menu-horizontal li:hover .menu-vertical {
	display: block;
}

.menu-vertical li:hover {
	background-color: #0a1a2a;
  border-radius: 15px;
}

.menu-vertical li a:hover {
  color: aqua;
}

.menu-vertical li a {
	display: block;
	color: white;
  font-size: 15px;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
  font-family: 'Nunito', sans-serif;
}