<header class="header-secretaria">
  <div class="logo-secretaria">
    <span class="logo-text">Colegio Cristiano Fuente de Vida</span>
  </div>
  <nav class="nav-secretaria">
    <ul class="menu-horizontal">
			<li><a href="#">Inicio</a></li>
			<li>
				<a href="#">Cursos</a>
				<ul class="menu-vertical">
					<li><i class="bi bi-clipboard-plus-fill"></i><a href="#">Html</a></li>
					<li><i class="bi bi-person-fill-add"></i><a href="#">Css</a></li>
					<li><i class="bi bi-usb-plug"></i><a href="#">Javascript</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Inscripción</a>
				<ul class="menu-vertical">
					<li><i class="bi bi-bing"></i><a href="#">Anual</a></li>
					<li><i class="bi bi-cart-plus"></i><a href="#">Mensual</a></li>
				</ul>
			</li>
			<li><a href="#">Contacto</a></li>
		</ul>          
  </nav>
  <a class="btn" href="/"><button>Cerrar Sesion</button></a>
</header>