<header class="header-secretaria">
  <div class="logo-secretaria">
    <span class="logo-text">Colegio Cristiano Fuente de Vida</span>
  </div>
  <nav class="nav-secretaria">
    <ul class="menu-horizontal">
			<li><a href="#">Inicio</a></li>
			<li>
				<a href="#">Cursos</a>
				<ul class="menu-vertical">
					<li><a href="curso-html.html">Html</a></li>
					<li><a href="#">Css</a></li>
					<li><a href="#">Javascript</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Inscripción</a>
				<ul class="menu-vertical">
					<li><a href="#">Anual</a></li>
					<li><a href="#">Mensual</a></li>
				</ul>
			</li>
			<li><a href="#">Contacto</a></li>
		</ul>          
  </nav>
  <a class="btn" href="/"><button>Cerrar Sesion</button></a>
</header>