<nav class="navbar navbar-expand-lg navbar-dark color-background">
  <div class="container-fluid">
    <img src="/img/logo_colegio.png" class="img-fluid pe-3" alt="" width="50" height="50">
    <a class="navbar-brand">Colegio Cristiano Fuente de Vida</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mi grupo
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Asistencia</a></li>
            <li><a class="dropdown-item" href="#">Boletin de Notas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mis materias
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Agregar Nota</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link cerrar-sesion" href="#" data-bs-toggle="modal" data-bs-target="#modalSession">Cerrar
            sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- modal-session -->
<div class="modal" tabindex="-1" id="modalSession" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" style="border-radius: 2px;">
    <div class="modal-content">
      <div class="modal-body border border-secondary" style="background-color: #17171c;">
        <div class="container-fluid">
          <div class="row">
            <div class="text-center">
              <i class="fa-solid fa-triangle-exclamation" style="color: rgb(244, 197, 5); font-size: 80px;"></i>
            </div>
            <div class="py-3" style="color: white;">
              <div class="text-center">
                <h2>¿Estás Seguro?</h2>
              </div>
              <div class="text-center">
                <strong>¿Quieres cerrar sesión?</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border border-secondary" style="background-color:  #5dade2">
        <button type="button" class="btn btn-danger mx-auto w-30px" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary mx-auto w-30px" data-bs-dismiss="modal"
          id="btn-aceptar">Aceptar</button>
      </div>
    </div>
  </div>
</div>
	
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
  $("#btn-aceptar").on("click", function (e) {
    e.preventDefault();
    cerrarSession();
  });

  async function cerrarSession() {
    try {
      const response = await axios.get('/cerrar');
      location.reload();
    } catch (error) { console.log('Error', error.message); }
  };
</script>
<!-- modal-session -->