<nav class="navbar navbar-expand-lg navbar-dark color-background">
  <div class="container-fluid">
    <a class="navbar-brand">Colegio Cristiano Fuente de Vida</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Matricula
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/secretaria/registro">Nuevo Ingreso</a></li>
            <li><a class="dropdown-item" href="#">Reingreso</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/secretaria/lista">Mostrar Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cerrar-sesion" href="/cerrar">Cerrar sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>