{{#*inline "styles"}}
  <link rel="stylesheet" href="/css/client/navsecret.css">
{{/inline}}

{{#> main}}
  {{{ styles }}}
  <header class="header-secretaria">
	  <div class="logo-secretaria">
      <span class="logo-text">Colegio Cristiano Fuente de Vida</span>
	  </div>
    <nav class="nav-secretaria">
      <ul class="menu-horizontal">
        <li><a href="/secretaria">Inicio</a></li>
        <li>
          <a href="">Cursos</a>
          <ul class="menu-vertical">
            <li><i class="bi bi-clipboard-plus-fill"></i><a href="">Html</a></li>
            <li><i class="bi bi-person-fill-add"></i><a href="">Css</a></li>
            <li><i class="bi bi-usb-plug"></i><a href="">Javascript</a></li>
          </ul>
        </li>
        <li>
          <a href="">Inscripción</a>
          <ul class="menu-vertical">
            <li><i class="bi bi-bing"></i><a href="/secretaria/registro">Registrar</a></li>
            <li><i class="bi bi-cart-plus"></i><a href="">Inscripción</a></li>
            <li><i class="bi bi-cart-plus"></i><a href="/secretaria/lista">Listar</a></li>
          </ul>
        </li>
        <li><a href="">Contacto</a></li>
      </ul>
    </nav>
    <a href="/cerrar" class="btn"><button>Cerrar Sesion</button></a>
  </header>
{{/main}}