<style>
  .container-inicio {
    position: grid;
    width: 100%;
    top: 60px;
  }

  .cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .cards .card {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cards .card:hover {
    background: #2069A1;
  }

  .cards .card:hover .number {
    color: #ffff;
  }

  .cards .card:hover .card-name {
    color: #ffff;
  }

  .cards .card:hover .icon-box i {
    color: #ffff;
  }

  .number {
    font-size: 35px;
    font-weight: 500;
    color: #2069A1;
  }

  .card-name {
    color: #888;
    font-weight: 600;
  }

  .icon-box i {
    font-size: 45px;
    color: #2069A1;
  }

  @media (max-width:880px) {
    .cards {
      width: 100%;
      padding: 35px 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  @media (max-width:500px){
        .cards {
        grid-template-columns: 1fr;
    }
  }

</style>

<div class="container-inicio">
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="number">1110</div>
        <div class="card-name">Estudiantes</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-user-graduate"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">35</div>
        <div class="card-name">Profesores</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">28</div>
        <div class="card-name">Grupos</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-users"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">700</div>
        <div class="card-name">Matriculas</div>
      </div>
      <div class="icon-box">
        <i class="fa-solid fa-laptop-file"></i>
      </div>
    </div>
  </div>
</div>