<section class="contenedor-login">
  <header class="header">
    <a href="#" class="logo-login">Colegio Cristiano Fuente de Vida</a>
    <nav class="navbar-login">
      <a href="#">Inicio</a>
    </nav>
  </header>
</section>