<nav class="navbar navbar-expand-lg navbar-dark color-background">
  <div class="container-fluid">
    <img src="/img/logo_colegio.png" class="img-fluid pe-3" alt="" width="50" height="50">
    <a class="navbar-brand">Colegio Cristiano Fuente de Vida</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center border-secondary">
        <div class="card-header border-secondary color-background text-white">
          <h3>Iniciar Sesion</h3>
        </div>
        <div class="card-body">
          <img src="/img/logo.jfif" alt="logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
          <form action="/login" method="post">
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text bg-black text-white border-secondary" id="addon-wrapping"><i class="bi bi-person-fill"></i></span>
              <input id="login-usuario" name="usuario" type="text" class="form-control border-secondary" placeholder="Usuario" aria-label="Usuario" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text bg-black text-white border-secondary" id="addon-wrapping"><i class="bi bi-lock-fill"></i></span>
              <input id="login-pass" name="contrasena" type="password" class="form-control border-secondary" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text bg-black text-white border-secondary" id="addon-wrapping"><i class="bi bi-people-fill"></i></span>
              <select id="login-cargo" name="rol" class="form-select border-secondary" aria-label="Default select example">
                <option value="Administrador">Administrador</option>
                <option value="Profesor">Profesor</option>
                <option value="Secretaria">Secretaria</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">Acceder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/event/loginform.js"></script>